body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #FFD700;
    background-color: #181825;
    padding-top: 50px;
}

.card {
    display: flex;
    align-items: center;
    background-color: #11111B;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%; 
    max-width: 900px; 
    margin: 2rem auto; 
    padding-right: 20px;
}
.card-content h1 {
    color: #CDD6F4; 
    font-weight: bold;
    font-size: 30px;
}
.card-content .profession {
    color: #CDD6F4; 
}
.card-content .description {
    color: #A6ADC8; 
}
.card-image:hover {
    transform: scale(1.1); 
}

@media (max-width: 768px) {
    .card {
        flex-direction: column; 
        max-width: 100%; 
    }

    .card-image {
        width: 100%; 
        height: auto; 
        margin-bottom: 1rem; 
    }
}
.social-links {
    display: flex;
    justify-content: space-around; 
    margin-top: 1rem;
}

.social-links a {
    display: inline-block;
    width: 70px;
    height: 40px;
    line-height: 40px; 
    text-align: center;
    background-color: #181825;
    color: #CDD6F4;
    border-radius: 100px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.social-links a:hover {
    background-color: #94E2D5; 
    color: #11111B;
}